/* Configurações gerais */
body {
    background-color: rgb(15, 15, 15) !important; 
    padding: 0px;
    margin: 0px;    
}

/* navbar */
.bgnav{
    background-color: black;
}
.navitens{    
    padding: 0px 10px !important; 
    margin: 10px;
}

.navitens:hover{
    color: rgb(255, 0, 0) !important;
    
}

/*Linhas*/
.linha{
    border-color: red;
    padding: 0px;
    width: 10%;
    border-width: 2px;
}

.linha-branca{
    width: 80%;
    border-color: white;
    
}

/*Rodapé*/
.rodape{
    background-color: rgb(0, 0, 0);
    padding: 40px;
    
}
.icon-social{
    color: white;
    font-size: 24px;
    padding: 5px;
}
.icon-social:hover{
    color: red;
}   
.icoFale{
    font-size: 25px;
}
.copy{
    background-color: rgb(3, 3, 3);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
