body {
    background-color: rgb(15, 15, 15) !important; 
    padding: 0px;
    margin: 0px;
    
}

.nav-header{
    background-color: rgb(0, 0, 0);
    color: white;        
}

li{
    padding: 10px;
}

li a:hover{
    
    text-decoration: underline 3px red !important;
}

/* CSS Pag Contato */

.texto-contato{
    font-size: 25px;

}

.form-contato{
    color: white;
    padding-top: 10px;
}

.texto-info-contato{
    padding-top: 50px;
}

.infp-contato{
    padding-top: 10px;
}

.linha{
    border-color: red;
    padding: 0px;
    width: 10%;
    border-width: 2px;
}

.linha-branca{
    width: 80%;
    border-color: white;
    
}
/*Rodapé*/

.rodape{
    background-color: rgb(0, 0, 0);
    padding: 40px;
    
}
.icon-social{
    padding: 5px;
}
.copy{
    background-color: rgb(3, 3, 3);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
