body {
    background-color: rgb(15, 15, 15) !important; 
    padding: 0px;
    margin: 0px;
    
}

.nav-header{
    background-color: rgb(0, 0, 0);
    color: white;        
}

li{
    padding: 10px;
}

li a:hover{
    
    text-decoration: underline 3px red !important;
}

/*Rodapé*/

.rodape{
    background-color: rgb(0, 0, 0);
    padding: 40px;
    
}
.icon-social{
    padding: 5px;
}
.copy{
    background-color: rgb(3, 3, 3);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
