body{
    background-color: rgb(15, 15, 15) !important; 
    padding: 0px;
    margin: 0px;
    
}
.nav-header{
    background-color: rgb(0, 0, 0);
    color: white;        
}

li{
    padding: 10px;
}

li a:hover{
    
    text-decoration: underline 3px red !important;
}

/* CSS Pag Doações */

.texto-doaMGC{
    padding-top: 20px;
    
}

.bloco-doacaoMGC{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif !important;
    color: white;
    
}
.palavra-mgc{
    font-size: 15pt;
}

.linha{
    border-color: red;
    padding: 0px;
    width: 10%;
    border-width: 2px;
}
.card-pr{
    padding-top: 20px;
}

.card-doacao{
    color: white;
    background-color: rgba(202, 0, 0, 0.87) !important;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 2px 2px 4px #000000;
}

.txt-banco{
    padding-top: 20px;
}
.dados-bancarios{
    padding-top: 20px;
    padding-bottom: 20px;
}


/*Rodapé*/

.rodape{
    background-color: rgb(0, 0, 0);
    padding: 40px;
    
}
.icon-social{
    padding: 5px;
}
.copy{
    background-color: rgb(3, 3, 3);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
